body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color:aqua;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    border: 2px solid aqua;
}

.center {
    text-align: center;
}

h1 {
    color:aqua;
}

h3 {
    color: aqua;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color:darkorange;
}

.contato-form input{
    width: 20%;
    padding: 8px 0;
    margin: 8px 0;
}

.contato-form input[type=text] {
    height: 20px;
}

.contato-form-txtarea {
    width: 100%; /* Define a largura para ocupar 100% da largura disponível */
    height: 100px; /* Define a altura da caixa de mensagem */
    padding: 8px 0; /* Adiciona um preenchimento interno à caixa de mensagem */
    margin-bottom: 15px; /* Adiciona espaço na parte inferior da caixa de mensagem */
    resize: vertical; /* Permite a redimensionamento vertical */
    font-size: 15px; /* Define o tamanho da fonte */
  }

/* Estilos para o botão */
.contato-form-btn {
    background-color:aqua; /* Cor de fundo do botão */
    color:black; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento interno do botão (topo/baixo, esquerda/direita) */
    font-size: 16px; /* Tamanho da fonte do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    cursor: pointer; /* Adiciona um cursor ao passar o mouse sobre o botão */
  }
  
  /* Estilos adicionais ao passar o mouse sobre o botão */
  .contato-form-btn:hover {
    background-color:darkorange; /* Cor de fundo alterada ao passar o mouse */
  }